#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container > * {
  margin: 1rem;
}
#buttonContainer > * {
  margin: 0.5rem;
  border: none;
  background-color: var(--cell-color);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;

  transition: all 150ms ease;
}
#buttonContainer > *:hover {
  opacity: 0.75;
}
#title { 
  color: white;
}
#cell {
  transition: all 150ms ease;
}

#cell:hover {
  background-color: var(--cell-color);
  opacity: 0.25;
}